<div class="content">
<p>Whether you need to prepare for a career milestone, handle an important life
event, or just want to check out useful resources, this site can help you take
care of what you need.</p>

<p>These resources are the most-frequently used by Sailors:</p>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">PRIMS</p>
  </header>
  <div class="card-content">
    <div class="content">
      'Tis the season for physical fitness! Ensure you're medically
      ready by <a href="{{ "/cle/parfq" | relative_url }}">completing your pre-test questionnaire</a>.
    </div>
  </div>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">NAVADMINs</p>
  </header>
  <div class="card-content">
    <div class="content">
      NAVADMIN messages provide the Navy with rapid notification of policy updates.
      Find out more in the <a href="{{ "/resources/navadmin" | relative_url }}">NAVADMINs resource</a>.
    </div>
  </div>
</div>
