<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="has-navbar-fixed-top">

    {%- comment -%}
    {%- include header.html -%}
    {%- endcomment -%}

    <main class="page-content" aria-label="Content">
      <nav class="navbar is-fixed-top is-info" role="navigation" aria-label="dropdown navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ '/' | absolute_url}}"><span class="icon"><i class="fas fa-home"></i></span></a>
          <div class="navbar-item">Our Navy Portal</div>

          <!-- must be structured this way to appear on mobile -->
          <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <!-- By default doesn't show on mobile, must be stuffed under navbar-burger instead -->
        <!-- Javascript to toggle contained inline below -->
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start"></div>
          <div class="navbar-end">
            <a class="navbar-item">
              <span class="icon has-text-dark"><i class="fas fa-envelope"></i></span>
              <span class="tag is-dark is-rounded">New notification!</span>
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Useful Tools</a>
              <div class="navbar-dropdown">
                <a class="navbar-item">See my Career History</a>
                <a class="navbar-item">See my “I love me” wall</a>
                <a class="navbar-item">References</a>
                <a class="navbar-item">Pay Tables</a>
                <a class="navbar-item" href="{{ 'resources/links' | relative_url }}">Quick Links</a>
                <a class="navbar-item" href="{{ 'resources/get-record.html' | relative_url }}">MyRecord</a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Career &amp; Life Events</a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ '/cle/n2n/' | relative_url }}">New to the Navy</a>
                <a class="navbar-item" href="{{ '/cle/career/' | relative_url }}">Career Management</a>
                <a class="navbar-item" href="{{ '/cle/perf/' | relative_url }}">Performance &amp; Awards</a>
                <a class="navbar-item" href="{{ '/cle/alt/' | relative_url }}">Assignment, Leave &amp; Travel</a>
                <a class="navbar-item" href="{{ '/cle/learn/' | relative_url }}">Training &amp; Education</a>
                <a class="navbar-item" href="{{ '/cle/ap/' | relative_url }}">Advancement &amp; Promotion</a>
                <a class="navbar-item" href="{{ '/cle/sfs/' | relative_url }}">Sailor &amp; Family Support</a>
              </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
            {% if page.is_logged_in %}
              <a class="navbar-item"><span class="icon has-text-success"><i class="fas fa-user-check"></i></span></a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ '/' | absolute_url }}">Logout</a>
              </div>
            {% else %}
              <a class="navbar-item"><span class="icon"><i class="fas fa-user-circle"></i></span></a>
              <div class="navbar-dropdown">
                <a class="navbar-item" href="{{ '/logged_in.html' | relative_url }}">Login</a>
              </div>
            {% endif %}
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Docs</a>
              <div class="navbar-dropdown is-right">
                <a class="navbar-item">Overview</a>
                <a class="navbar-item">Performance</a>
                <hr class="navbar-divider">
                <div class="navbar-item">Project Waterfall v0.0.2</div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      {%- if page.url == "/" -%}
      <section class="hero is-medium is-dark is-bold">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">What's New in Project Waterfall</h1>
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <div class="box tile is-child">
                    <p class="heading">NAVADMIN 216/19</p>
                    <a href="https://www.public.navy.mil/bupers-npc/reference/messages/Documents/NAVADMINS/NAV2019/NAV19216.txt">Apply for CSC/CMC lateral conversion</a>
                </div>

                <div class="box tile is-child">
                    <p class="heading">ALNAV 067/19</p>
                    <a href="https://www.public.navy.mil/bupers-npc/reference/messages/Documents/ALNAVS/ALN2019/ALN19067.txt">Navy Lieutenant results are available</a>
                </div>

                <div class="box tile is-child">
                    <p class="heading">Suicide Prevention Month</p>
                    <a href="https://www.public.navy.mil/bupers-npc/reference/messages/Documents/ALNAVS/ALN2019/ALN19065.txt">“Small Steps Save Lives” in preventing suicide</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {%- endif -%}

      <section class="section">
        <div class="container">
          {%- assign crumbs = page.url | remove:'/index.html' | split: '/' -%}
          {%- include breadcrumbs.html path=page.path title=page.title  -%}

          <div class="columns">
            <div class="column is-3">
              <aside class="menu">
                <p class="menu-label">Navigate to...</p>
                <ul class="menu-list">
                  <li><a href="{{ 'resources/links' | relative_url }}">Quick Links</a></li>
                  <li><a href="{{ 'resources/get-record.html' | relative_url }}">MyRecord</a></li>
                </ul>
                <p class="menu-label">Notable Resources</p>
                <ul class="menu-list">
                  <li class="nav-item"><a href="{{ 'cle/perf/' | relative_url }}">Check PARFQ for Spring PFA</a></li>
                  <li class="nav-item"><a href="{{ 'cle/career/ssf/' | relative_url }}">Sea/Shore Flow</a></li>
                  <li class="nav-item"><a href="{{ 'cle/alt/' | relative_url }}">Check Leave Balance</a></li>
                  <li class="nav-item"><a href="{{ 'cle/learn/' | relative_url }}">Check Tuition Assistance</a></li>
                  <li class="nav-item"><a href="{{ 'cle/career/' | relative_url }}">Check Current Reenlistment Bonuses</a></li>
                </ul>
              </aside>
            </div>
            <div class="column content" id="content">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    </main>

    {%- include footer.html -%}

    <script>
      // See https://bulma.io/documentation/components/navbar/
      document.addEventListener('DOMContentLoaded', () => {
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const $target = document.getElementById(el.dataset.target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      });
    </script>

  </body>

</html>
